@media (min-width: 992px) {
    .jumbotron {
        color: #006f17;
        background-color: #222;
        background-image: url("../../images/library/banner.gif");
        background-size: cover;
        background-position: bottom;
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .nav-highlight, .nav-highlight a {
        background-color: #006f17 !important;
        color: #fff !important;
    }
}

.dark-sections {
    color: #fff;
    background-color: #111;
}

.content-container {
    padding-bottom: 2em;
}

#introjumbo, #introjumbo .container {
    min-height: 100vh;
    color: #006f17;
    text-align: center;
}
#introjumbo hr {
    border-color: #07c411;
    width: 40%;
}

#introjumbo h1 {
    margin-top: 20vh;
}
#introjumbo h2 {
    margin-bottom: 1em;
}
