@charset "UTF-8";

body {
    font-size: 1.6em;
}

#wrap {
    margin-top: 100px;
}

footer {
    font-size: 1em;
    margin-top: 3em;
}

.tag-label {
    border-radius: 5px;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 70%;
    font-weight: bold;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
    background-color: lightgrey;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}