body {
  font-size: 15px;
  font-weight: 400;
  padding-top: 50px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
  color: @text-color;
  background-color: @inverse-theme;
  width: 100%;
  height: 100%;
}

.huge {
  font-size: 40px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, .8);
  z-index: 1;
}