@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);

@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "plugins/plugins";

@import "purpledragon/purpledragon";

.tag-label {
  border-radius: 5px;
  padding: 3px 4px 3px 4px;
  margin: 2px 2px 2px 5px;
  text-decoration: none;
  font-size: 70%;
  font-weight: bold;
  line-height: 1.4;
  white-space: nowrap;
  display: inline-block;
  background-color: lightgrey;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}

.content-section-left {
  padding: 50px 0;
  background-color: darken(@gray-lighter, 5%);
}

.section-header {
  margin-bottom: 30px;
}

hr.section-header-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid @gray-lighter;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
}